@CHARSET "UTF-8";


.image {

position: relative;

width: 100%; /* for IE 6 */

}

h3 {

position: absolute;

top: 100px;

left: 0;

width: 100%;

}

h3 span {

color: white;

font: bold 24px/45px Helvetica, Sans-Serif;

letter-spacing: -1px;

background: rgb(0, 0, 0);

background: rgba(0, 0, 0, 0.7);

padding: 10px;

}