@CHARSET "UTF-8";

.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}before {color: rgba(204, 204, 204, 1); }

.letras{
	text-decoration:none; color: #DDB888;  font-weight: bold; font-size: 18px;
}


.desactivado{
	text-decoration:none; color: #DDB888; font-size: 18px;
}